body {
	color: #282828;
	background: #fdfdfd;
	font-size: 16px;
	line-height: 25px;
	font-family: 'StempelGaramondW04-Roma', 'Hoefler Text', 'Adobe Caslon Pro', Palatino, "Palatino Linotype", serif;
	text-rendering: optimizeLegibility;
	/* TODO firefox & other browsers */
	-webkit-font-feature-settings: 'kern';
}

i {
	font-family: 'StempelGaramondW01-Ital';
	font-style: normal;
}

b {
	font-weight: normal;
	/* Change to real bold if eventually needed */
	text-decoration: underline;
}

p, time, h1, h2, h3, h4 {
	-webkit-font-feature-settings: 'liga';
}

code {
	/* Does not work.  Sorry everybody. */
	-webkit-font-feature-settings: 'liga' 0;
}

time {
	-webkit-font-feature-settings: 'onum';
}

.num {
	-webkit-font-feature-settings: 'onum';
}

body, div, p, ol, ul, li, h1, h2, h3 {
	margin: 0;
	font-size: 17px;
}

body {
	line-height: 25px;
	width: 575px;
	margin: 0 auto;
}
img {
	display: block;
	width: 575px;
}
pre {
	width: 867px;
}

code, pre.code {
	font-family: 'Source Code Pro', 'Courier New', monospace;
	font-weight: 300;
	font-size: 15px;
}

code b, pre.code b {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

pre.code {

	border-radius: 2px;
	border-left: 1px solid #c8c8c8;
	padding-left: 10px;
	margin-left: -10px;
	background: #fafafa;

	border-top: 1px solid #c8c8c8;
	padding-top: 10px;
	margin-top: -2px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 10px;
	margin-bottom: -2px;

	border-right: 1px solid #e2e2e2;

	line-height: 20px;
}

h1 {
	font-size: 25px;
	font-weight: normal;
}

h1 code {
	font-size: 20px;
}


h2, h3 {
	font-size: 16px;
	font-weight: normal;
}

h1, h2, p, ul, ol, pre, footer {
	margin: 25px 0;
}
h1 {
	margin-top: 52px;
	position: relative;
	top: -2px;
}
h1 + time {
	margin-top: -25px;
	display: block;
	font-size: 16px;
}
h2 {
	-webkit-font-feature-settings: 'smcp';
	font-size: 17px;
}
blockquote {
	margin: 25px 50px;
}

.aside {
	position: relative;
	top: 3px;
	float: right;
	width: 275px;
	margin-right: -300px;
	font-size: 14px;
	line-height: 18px;
	color: #666;
}

.aside code {
	color: #666;
	font-size: 13px;
	line-height: 18px;
}

sup, sub {
	font-size: .75;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	top: .32em;
}

ul, ol {
	padding: 0 0 0 50px;
}

a {
	color: #25b825;
	text-decoration: none;
	border-bottom: 1px solid #40d240;
}

a:hover {
	background: #efe;
	outline: 2px solid #efe;
}

a:active {
	background: #4e4;
	color: #efe;
	border: 1px solid #4e4;
	outline: none;
}

footer a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 280px; /* a little less than 575 / 2 */
}

footer a.prev {
	float: left;
}

footer a.prev:before {
	content: '‹ ';
}

footer a.next {
	float: right;
}

footer a.next:after {
	content: ' ›';
}

footer {
	padding-bottom: 25px;
}

